{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block page %}
  {{title}}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <h4><i>{{ message }}</i></h4>
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endblock %}
{% block content %}



  <br>
  <h3>{{my_string_1}}</h3>
  <table class="table table-bordered" id="cssTable">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Tanggal / Ruangan</th>
              <th scope="col" width="250">Nama</th>
              <th scope="col">Pembimbing</th>
              <th scope="col" width="300">Narasumber</th>
              <th scope="col" width="450">Judul</th>
          </tr>

      </thead>

      <tbody>
         <div >
        <tr>
            <th rowspan="2" scope="row">1</th>
            <td>Senin / 10.00</td>
            <td>Pande Kadek Cahya Wisnu Murti</td>
            <td rowspan="2">Ariesta Damayanti, S.Kom, M.Cs.</td>
            <td>Sari Iswanti, S.Si, M.Kom.</td>
            <td rowspan="2">Optimasi Penjadwalan Ujian Pra-Skripsi dan Skripsi Menggunakan Metode Algoritma Genetika</td>
            </tr>
            <tr>
            <td>15 April 2020 / R. S.3.1</td>
            <td>165410137</td>
            <td>F. Wiwiek Nurwiyati, Dra., M.T.</td>
        </tr>
    </div>
        <tr>
            <th rowspan="2" scope="row">2</th>
            <td>Senin / 10.00 </td>
            <td>Pande Kadek Cahya Wisnu Murti</td>
            <td rowspan="2">Ariesta Damayanti, S.Kom, M.Cs.</td>
            <td>Sari Iswanti, S.Si, M.Kom.</td>
            <td rowspan="2">Optimasi Penjadwalan Ujian Pra-Skripsi dan Skripsi Menggunakan Metode Algoritma Genetika</td>
            </tr>
            <tr>
            <td>15 April 2020 / R. S.3.1</td>
            <td>165410137</td>
            <td>F. Wiwiek Nurwiyati, Dra., M.T.</td>
        </tr>
      </tbody>
  </table>
  <br>

  <h3>{{my_string_2}}</h3>


  <table class="table table-bordered" id="cssTable">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Tanggal / Ruangan</th>
              <th scope="col" width="250">Nama</th>
              <th scope="col">Pembimbing</th>
              <th scope="col" width="300">Narasumber</th>
              <th scope="col" width="450">Judul</th>
          </tr>

      </thead>

      <tbody>
         <div >
        <tr>
            <th rowspan="2" scope="row">1</th>
            <td>Senin / 13.00 </td>
            <td>Pande Kadek Cahya Wisnu Murti</td>
            <td rowspan="2">Ariesta Damayanti, S.Kom, M.Cs.</td>
            <td>Sari Iswanti, S.Si, M.Kom.</td>
            <td rowspan="2">Optimasi Penjadwalan Ujian Pra-Skripsi dan Skripsi Menggunakan Metode Algoritma Genetika</td>
            </tr>
            <tr>
            <td>15 April 2020 / R. S.3.1</td>
            <td>165410137</td>
            <td>F. Wiwiek Nurwiyati, Dra., M.T.</td>
        </tr>
    </div>
        <tr>
            <th rowspan="2" scope="row">2</th>
            <td>Senin / 13.00 </td>
            <td>Pande Kadek Cahya Wisnu Murti</td>
            <td rowspan="2">Ariesta Damayanti, S.Kom, M.Cs.</td>
            <td>Sari Iswanti, S.Si, M.Kom.</td>
            <td rowspan="2">Optimasi Penjadwalan Ujian Pra-Skripsi dan Skripsi Menggunakan Metode Algoritma Genetika</td>
            </tr>
            <tr>
            <td>15 April 2020 / R. S.3.1</td>
            <td>165410137</td>
            <td>F. Wiwiek Nurwiyati, Dra., M.T.</td>
        </tr>
      </tbody>
  </table>
  <br>

{% endblock %}
