
{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block page %}
<div class="jumbotron text-center" style="background-color: white;">
  <h1>Selamat Datang!</h1>
  <h2 style="font-size: 40px;">Optimasi Penjadwalan Pra Skripsi dan Skripsi Menggunakan Metode Algoritma Genetika</h2>
  <br>
  <img src={{ url_for('static', filename='akakom.png') }} style="width: 500px;">
  <br>
  <br>
  <h2><i>Pande Kadek Cahya Wisnu Murti</i></h2>
  <h3 style="color: black;">165410137</h3>  
</div>

  <br>
  <hr class="my-4">
  <br>
  {{title}}
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <h4><i>{{ message }}</i></h4>
      {% endfor %}
    {% endif %}
  {% endwith %}
{% endblock %}
{% block content %}


  <h3>{{my_string_1}}</h3>
  <table class="table table-bordered" id="cssTable">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Tanggal / Ruangan</th>
              <th scope="col" width="250">Nama</th>
              <th scope="col">Pembimbing</th>
              <th scope="col" width="300">Narasumber</th>
              <th scope="col" width="450">Judul</th>
              <th>*</th>
          </tr>
        </thead>

      <tbody>
           {% for i in data %}
        <tr>
            <th rowspan="2" scope="row">{{loop.index}}</th>
            <td>{{i.harijam}}</td>
            <td>{{i.mhs}}</td>
            <td rowspan="2">{{i.dosbing}}</td>
            <td>{{i.p1}}</td>
            <td rowspan="2">{{i.judul}}</td>
            <td><a href="/delete/{{i.nim}}/{{i.status}}" method="POST" type="button" class="btn btn-success">Terlaksana</a></td>
            </tr>
            <tr>
            <td>{{i.tgl}} / R. {{i.ruangan}}</td>
            <td>{{i.nim}}</td>
            <td>{{i.p2}}</td>
            <td><a href="/jadwalUlang/{{i.nim}}/{{i.status}}" type="button" class="btn btn-primary">Jadwal Ulang</a></td>
        </tr>
        {% endfor %}

      </tbody>
  </table>
  <br>

  <h3>{{my_string_2}}</h3>
  <table class="table table-bordered" id="cssTable">
      <thead>
          <tr>
              <th scope="col">#</th>
              <th scope="col">Tanggal / Ruangan</th>
              <th scope="col" width="250">Nama</th>
              <th scope="col">Pembimbing</th>
              <th scope="col" width="300">Narasumber</th>
              <th scope="col" width="450">Judul</th>
              <th>*</th>
          </tr>

      </thead>

      <tbody>
           {% for j in data_2 %}
        <tr>
            <th rowspan="2" scope="row">{{loop.index}}</th>
            <td>{{j.harijam}}</td>
            <td>{{j.mhs}}</td>
            <td rowspan="2">{{j.dosbing}}</td>
            <td>{{j.p1}}</td>
            <td rowspan="2">{{j.judul}}</td>
            <td><a href="/delete/{{j.nim}}/{{j.status}}" method="POST" type="button" class="btn btn-success">Terlaksana</a></td>
            </tr>
            <tr>
            <td>{{j.tgl}} / R. {{j.ruangan}}</td>
            <td>{{j.nim}}</td>
            <td>{{j.p2}}</td>
            <td><a href="/jadwalUlang/{{j.nim}}/{{j.status}}" type="button" class="btn btn-primary">Jadwal Ulang</a></td>
        </tr>
        {% endfor %}

      </tbody>
  </table>
  <br>


{% endblock %}



