{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block page %}{{title}}{% endblock %}


{% block content %}
<table class="table">
  <tr>
    <th>#</th>
    <th>Generasi</th>
    <th>Hx</th>
    <th>yz</th>
    <th>YZ</th>
    <th>a</th>
    <th>fitnes</th>
  </tr>
  {% for i in data%}
  <tr>
    <td>{{loop.index}}</td>
    <td>{{i.Gen}}</td>
    <td>{{i.Hx}}</td>
    <td>{{i.yz}}</td>
    <td>{{i.YZ}}</td>
    <td>{{i.a}}</td>
    <td>f = {{i.fitnes}}</td>
  </tr>
  {% endfor %}
</table>


{% endblock %}
