{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block content %}

  <br>
  <h3>{{my_string}}</h3>
  
  <p>Member</p>
  <table class="table">
      <thead>
          <tr>
              <th>Name</th>
              <th>Address</th>
          </tr>
      </thead>
      <tbody>
          {% for n in data %}
          <tr>
          <td>{{n.name}}</td>
          <td>{{n.address}}</td>
          <td><a href="/update/{{n['_id']}}">Update</a></td>
          <td><a href="./remove?_id={{ n['_id']}}">Delete</a></td>
          </tr>
          {% endfor %}
      </tbody>
  </table>
  <br>

{% endblock %}